Repository listellm/claude-code-azdo: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: check-added-large-files
        args:
          - "--maxkb=2048"
          - "--enforce-all"
      - id: check-case-conflict
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-yaml
        args:
          - "--unsafe"
        exclude: pnpm-lock.yaml
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
      - id: trailing-whitespace
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [-c=./.config/.yamllint.yaml]
        exclude: 'pnpm-lock\.yaml|^\.github/'

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".config/.secrets.baseline"]
        exclude: .config/.secrets.baseline

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.0
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|js|json|yaml|yml|md)$
        exclude: pnpm-lock.yaml

      - id: typecheck
        name: typecheck
        entry: pnpm run typecheck
        language: system
        types: [ts]
        pass_filenames: false

fix: release 3.10.0 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Notes added by 'git notes add'
  5cd46fa8b01954ad7b2c7db51959cffb5571a09f
Due: none

fix: peer review follow-up fixes
  src/azure-pipeline.ts
  src/pr-state.ts
  test/pr-state.test.ts
Due: prettier, typecheck

feat: add content sanitisation module (M2)
  .docs/prompt-engineering-learnings.md
  src/azure-pipeline.ts
  src/context-dir.ts
  src/pr-state.ts
  src/sanitise.ts
  test/sanitise.test.ts
Due: prettier, typecheck

feat: restrict Bash to git read-only in review mode (M3)
  .docs/prompt-engineering-learnings.md
  src/azure-pipeline.ts
  src/review-tools.ts
  task.json
  test/review-tools.test.ts
Due: prettier, typecheck

feat: restrict Bash to git read-only in review mode (M3) (#34)
  .docs/prompt-engineering-learnings.md
  src/azure-pipeline.ts
  src/context-dir.ts
  src/pr-state.ts
  src/review-tools.ts
  src/sanitise.ts
  task.json
  test/pr-state.test.ts
  test/review-tools.test.ts
  test/sanitise.test.ts
Due: prettier, typecheck

fix: release 3.11.0 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Notes added by 'git notes add'
  9e6b0893da96ebd3755fc1145328df22d70f44cf
Due: none
