Repository listellm/claude-code-azdo: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck

prettier:
  name: prettier
  entry: node_modules/.bin/prettier --write --ignore-unknown
  language: system

typecheck:
  name: typecheck
  entry: pnpm run typecheck
  language: system
  pass_filenames: false

Notes added by 'git notes add'
  f0b1bc8be05f03a949866dd8983abaf2a86e1728
Due: none

feat: reviewer type checkboxes for Terraform & YAML
  src/azure-pipeline.ts
  src/reviewer-types.ts
  task.json
  test/reviewer-types.test.ts
Due: prettier, typecheck

feat: reviewer type checkboxes for Terraform & YAML (#15)
  src/azure-pipeline.ts
  src/reviewer-types.ts
  task.json
  test/reviewer-types.test.ts
Due: prettier, typecheck

fix: release 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Notes added by 'git notes add'
  1d0b3f1e6a95e9f0b3e4c9c48ff559cec1d05612
Due: none

fix: default post_pr_comments to true
  task.json
Due: prettier

fix: default post_pr_comments to true (#16)
  task.json
Due: prettier

fix: release 1.2.1 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Notes added by 'git notes add'
  90edf134fd19c8da778513ad5a786bcc567d0149
Due: none

breaking: v2 — relax Bedrock credential validation for IRSA
  .github/workflows/publish-azure-extension.yaml
  README.md
  azure-pipelines.yaml
  examples/iam/bedrock-permissions.json
  examples/iam/trust-policy-irsa.json
  examples/iam/trust-policy-pod-identity.json
  examples/pr-review-anthropic.yaml
  examples/pr-review-bedrock-irsa.yaml
  examples/pr-review-bedrock.yaml
  package.json
  src/azure-validate-env.ts
  src/validate-env-core.ts
  task.json
  test-azure-task.js
  test/validate-env-core.test.ts
  test/validate-env.test.ts
  vss-extension.json
Due: prettier, typecheck

breaking: v2 — relax Bedrock credential validation for IRSA (#17)
  .github/workflows/publish-azure-extension.yaml
  README.md
  azure-pipelines.yaml
  examples/iam/bedrock-permissions.json
  examples/iam/trust-policy-irsa.json
  examples/iam/trust-policy-pod-identity.json
  examples/pr-review-anthropic.yaml
  examples/pr-review-bedrock-irsa.yaml
  examples/pr-review-bedrock.yaml
  package.json
  src/azure-validate-env.ts
  src/validate-env-core.ts
  task.json
  test-azure-task.js
  test/validate-env-core.test.ts
  test/validate-env.test.ts
  vss-extension.json
Due: prettier, typecheck

fix: release 2.0.0 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  6691d0246059d2ed09bcf938d14001d83abacf12
Due: none

feat: PR review noise suppression + attribution
  README.md
  src/azure-pipeline.ts
  src/azure-pr-comment.ts
  src/pr-comment-core.ts
  task.json
  test/pr-comment-core.test.ts
Due: prettier, typecheck

feat: PR review noise suppression + attribution (#18)
  README.md
  src/azure-pipeline.ts
  src/azure-pr-comment.ts
  src/pr-comment-core.ts
  task.json
  test/pr-comment-core.test.ts
Due: prettier, typecheck

Notes added by 'git notes add'
  fa7ca207530c9a93c461da91a85c188a8e5904b8
Due: none

fix: release 2.1.0 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

fix: remove invalid visibleRule from minimum_severity input
  package.json
  task.json
  vss-extension.json
Due: prettier

fix: remove invalid visibleRule from minimum_severity input (#19)
  package.json
  task.json
  vss-extension.json
Due: prettier

fix: release 2.1.1 [skip ci]
  CHANGELOG.md
Due: prettier

Notes added by 'git notes add'
  2befa82592a9c5678c68793462ea22dd4c538b44
Due: none

breaking: S3 state caching for PR review runs
  README.md
  package.json
  pnpm-lock.yaml
  scripts/build-extension.sh
  src/azure-pipeline.ts
  src/azure-pr-comment.ts
  src/pr-comment-core.ts
  src/pr-state.ts
  task.json
  test/pr-state.test.ts
Due: prettier, typecheck

breaking: S3 state caching for PR review runs (#20)
  README.md
  package.json
  pnpm-lock.yaml
  scripts/build-extension.sh
  src/azure-pipeline.ts
  src/azure-pr-comment.ts
  src/pr-comment-core.ts
  src/pr-state.ts
  task.json
  test/pr-state.test.ts
Due: prettier, typecheck

fix: release 3.0.0 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Notes added by 'git notes add'
  44996ef9a7eab063ec04c4c475fea9694599346f
Due: none

fix: use org/project in S3 key, update branding
  README.md
  examples/pr-review-dedicated-account.yaml
  images/extension-icon.png
  src/azure-pipeline.ts
  src/pr-state.ts
  test/pr-state.test.ts
Due: prettier, typecheck

fix: use org/project in S3 key, update branding (#21)
  README.md
  examples/pr-review-dedicated-account.yaml
  images/extension-icon.png
  src/azure-pipeline.ts
  src/pr-state.ts
  test/pr-state.test.ts
Due: prettier, typecheck

fix: release 3.0.1 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Notes added by 'git notes add'
  29fd887348b882fc4f6a0a349bced9b25c9d19e4
Due: none

fix: add repo name to S3 state key path
  README.md
  src/azure-pipeline.ts
  src/pr-state.ts
  test/pr-state.test.ts
Due: prettier, typecheck

fix: add repo name to S3 state key path (#22)
  README.md
  src/azure-pipeline.ts
  src/pr-state.ts
  test/pr-state.test.ts
Due: prettier, typecheck

fix: release 3.0.2 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Notes added by 'git notes add'
  bcbb44a643a2a8bbf4ba640d972bd05594d2bd70
Due: none

feat: add helm, cilium, dockerfile reviewers
  CLAUDE.md
  README.md
  src/azure-pipeline.ts
  src/reviewer-types.ts
  task.json
  test/reviewer-types.test.ts
Due: prettier, typecheck

feat: add helm, cilium, dockerfile reviewers (#23)
  CLAUDE.md
  README.md
  src/azure-pipeline.ts
  src/reviewer-types.ts
  task.json
  test/reviewer-types.test.ts
Due: prettier, typecheck

Notes added by 'git notes add'
  d06c7980c9c5b91e1fa8d39719ace110117f2e96
Due: none

fix: release 3.1.0 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

feat: add thread reply lifecycle (#accept/#fixed)
  examples/pr-review-dedicated-account.yaml
  package.json
  pnpm-lock.yaml
  scripts/build-extension.sh
  src/azure-pipeline.ts
  src/azure-pr-comment.ts
  src/pr-comment-core.ts
  src/pr-state.ts
  src/thread-classifier.ts
  task.json
  test/pr-comment-core.test.ts
  test/pr-state.test.ts
  test/thread-classifier.test.ts
Due: prettier, typecheck

feat: add thread reply lifecycle (#accept/#fixed) (#24)
  examples/pr-review-dedicated-account.yaml
  package.json
  pnpm-lock.yaml
  scripts/build-extension.sh
  src/azure-pipeline.ts
  src/azure-pr-comment.ts
  src/pr-comment-core.ts
  src/pr-state.ts
  src/thread-classifier.ts
  task.json
  test/pr-comment-core.test.ts
  test/pr-state.test.ts
  test/thread-classifier.test.ts
Due: prettier, typecheck

fix: release 3.2.0 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Path conditions:
  prettier: any of: \.(ts|js|json|yaml|yml|md)$, but not: pnpm-lock.yaml
  typecheck: any of: \.(ts|mts|cts)$
