Repository listellm/claude-code-azdo: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: check-added-large-files
        args:
          - "--maxkb=2048"
          - "--enforce-all"
      - id: check-case-conflict
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-yaml
        args:
          - "--unsafe"
        exclude: pnpm-lock.yaml
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
      - id: trailing-whitespace
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [-c=./.config/.yamllint.yaml]
        exclude: 'pnpm-lock\.yaml|^\.github/'

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".config/.secrets.baseline"]
        exclude: .config/.secrets.baseline

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.0
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|js|json|yaml|yml|md)$
        exclude: pnpm-lock.yaml

      - id: typecheck
        name: typecheck
        entry: pnpm run typecheck
        language: system
        types: [ts]
        pass_filenames: false

fix: assign unique task ID for Marketplace publish
  task.json
Due: prettier

fix: bump version to 1.0.8 for Marketplace republish
  package.json
  task.json
  vss-extension.json
Due: prettier

fix: grant contents: write for GitHub Release creation
  .github/workflows/publish-azure-extension.yaml
Due: prettier

feat: add semantic-release for automated versioning
  .github/workflows/bump-version.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .releaserc.json
  package.json
  pnpm-lock.yaml
  scripts/update-azure-versions.sh
Due: prettier

feat: add semantic-release for automated versioning (#6)
  .github/workflows/bump-version.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .releaserc.json
  package.json
  pnpm-lock.yaml
  scripts/update-azure-versions.sh
Due: prettier

fix: release 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Notes added by 'git notes add'
  883a8a772d2dd3ba4d3552a23839e5a2b1178812
Due: none

fix: silence github success comments and trigger publish via dispatch
  .github/workflows/ci.yaml
  .releaserc.json
Due: prettier

fix: apply prettier formatting to CHANGELOG.md
  CHANGELOG.md
Due: prettier

fix: run prettier on CHANGELOG.md during release prepare
  .releaserc.json
Due: prettier

fix: silence github success comments and trigger publish via dispatch (#7)
  .github/workflows/ci.yaml
  .releaserc.json
  CHANGELOG.md
Due: prettier

fix: release 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Notes added by 'git notes add'
  e78eb6839bcdb062517917576b73441e36afeb6a
Due: none

fix: add actions: write permission to release job
  .github/workflows/ci.yaml
Due: prettier

fix: add actions: write permission to release job (#8)
  .github/workflows/ci.yaml
Due: prettier

fix: release 1.0.2 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Notes added by 'git notes add'
  c65bec48caf3b96ad1363b554b532b48ace90c73
Due: none

fix: add renovate config and remove stale publisher docs
  publisher-verification.md
  renovate.json
Due: prettier

fix: add renovate config and remove stale publisher docs (#9)
  publisher-verification.md
  renovate.json
Due: prettier

fix: release 1.0.9 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Notes added by 'git notes add'
  b8d09ef6fcef21cdd01809e5340b69b7badc5830
Due: none

fix: block direct pushes to main via pre-push hook
  scripts/pre-push
Due: none

fix: block direct pushes to main via pre-push hook (#10)
  scripts/pre-push
Due: none

fix: release 1.0.10 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Notes added by 'git notes add'
  9b5b8669e06ae8cfd720350c3b3b9baefcfa9ae5
Due: none

fix: add Node20_1 fallback execution handler
  task.json
Due: prettier

fix: add Node20_1 fallback execution handler (#11)
  task.json
Due: prettier

fix: release 1.0.11 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Notes added by 'git notes add'
  7f069b7c217b0af6bd84b5a9df32a1d3b23f283b
Due: none

fix: install claude CLI to user-local npm prefix
  src/azure-setup.ts
Due: prettier, typecheck

fix: install claude CLI to user-local npm prefix (#12)
  src/azure-setup.ts
Due: prettier, typecheck

fix: release 1.0.12 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Notes added by 'git notes add'
  6608f3083916e3f589f7f817c9b0d5c923aa269d
Due: none

fix: optional CLI install and API key pipeline var
  src/azure-run-claude.ts
  src/azure-setup.ts
  src/azure-validate-env.ts
  task.json
Due: prettier, typecheck

fix: optional CLI install and API key pipeline var (#13)
  src/azure-run-claude.ts
  src/azure-setup.ts
  src/azure-validate-env.ts
  task.json
Due: prettier, typecheck

fix: release 1.0.13 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Notes added by 'git notes add'
  a83bf70503416c3d475b3100b91a6a5819a3d179
Due: none

feat: native PR comment posting + model default
  .gitignore
  src/azure-pipeline.ts
  src/azure-pr-comment.ts
  src/azure-run-claude.ts
  src/pr-comment-core.ts
  task.json
  test/pr-comment-core.test.ts
Due: prettier, typecheck

feat: native PR comment posting + model default (#14)
  .gitignore
  src/azure-pipeline.ts
  src/azure-pr-comment.ts
  src/azure-run-claude.ts
  src/pr-comment-core.ts
  task.json
  test/pr-comment-core.test.ts
Due: prettier, typecheck

fix: release 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier
