Repository listellm/claude-code-azdo: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: check-added-large-files
        args:
          - "--maxkb=2048"
          - "--enforce-all"
      - id: check-case-conflict
      - id: check-json
        exclude: 'tsconfig.*\.json$'
      - id: check-yaml
        args:
          - "--unsafe"
        exclude: pnpm-lock.yaml
      - id: detect-aws-credentials
        args:
          - "--allow-missing-credentials"
      - id: detect-private-key
      - id: trailing-whitespace
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [-c=./.config/.yamllint.yaml]
        exclude: 'pnpm-lock\.yaml|^\.github/'

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".config/.secrets.baseline"]
        exclude: .config/.secrets.baseline

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.0
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: node_modules/.bin/prettier --write --ignore-unknown
        language: system
        files: \.(ts|js|json|yaml|yml|md)$
        exclude: pnpm-lock.yaml

      - id: typecheck
        name: typecheck
        entry: pnpm run typecheck
        language: system
        types: [ts]
        pass_filenames: false

Notes added by 'git notes add'
  389b390f20862fee3e0869d60025e0b013f3eaf7
Due: none

feat: add bedrock-sdk for thread classification
  package.json
  pnpm-lock.yaml
  scripts/build-extension.sh
  src/thread-classifier.ts
  test/thread-classifier.test.ts
Due: prettier, typecheck

feat: add bedrock-sdk for thread classification (#25)
  package.json
  pnpm-lock.yaml
  scripts/build-extension.sh
  src/thread-classifier.ts
  test/thread-classifier.test.ts
Due: prettier, typecheck

fix: release 3.3.0 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Notes added by 'git notes add'
  84897bd1b8765b5ea04db82c30d23e5c39f0e2fb
Due: none

feat: add 11 language-specific code reviewers
  src/azure-pipeline.ts
  src/reviewer-types.ts
  task.json
  test/reviewer-types.test.ts
Due: prettier, typecheck

fix: add language reviewers to README and marketplace docs
  README.md
  overview.md
Due: prettier

feat: add 11 language-specific code reviewers (#26)
  README.md
  overview.md
  src/azure-pipeline.ts
  src/reviewer-types.ts
  task.json
  test/reviewer-types.test.ts
Due: prettier, typecheck

Notes added by 'git notes add'
  66b5edeb0d59cd3faf12580e3ed5b1e0f1c3a2ab
Due: none

fix: release 3.4.0 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

fix: migrate build from tsc to esbuild
  .github/workflows/publish-azure-extension.yaml
  package.json
  pnpm-lock.yaml
  scripts/build-extension.sh
  scripts/validate-build.js
Due: prettier

feat: add approve_pr_on_no_issues input
  src/azure-pipeline.ts
  src/azure-pr-comment.ts
  src/pr-comment-core.ts
  task.json
Due: prettier, typecheck

fix: add tests for PR approval + README badges
  README.md
  test/azure-pr-comment.test.ts
  test/pr-comment-core.test.ts
Due: prettier, typecheck

feat: add PR auto-approval, esbuild migration, and test coverage (#27)
  .github/workflows/publish-azure-extension.yaml
  README.md
  package.json
  pnpm-lock.yaml
  scripts/build-extension.sh
  scripts/validate-build.js
  src/azure-pipeline.ts
  src/azure-pr-comment.ts
  src/pr-comment-core.ts
  task.json
  test/azure-pr-comment.test.ts
  test/pr-comment-core.test.ts
Due: prettier, typecheck

fix: release 3.5.0 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Notes added by 'git notes add'
  9d2c7992f1a3f7d25b99aa9def29abcca5bbc896
Due: none

feat: add pnpm audit job to CI pipeline
  .github/workflows/ci.yaml
Due: prettier

feat: add pnpm audit job to CI pipeline (#28)
  .github/workflows/ci.yaml
Due: prettier

fix: release 3.6.0 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Notes added by 'git notes add'
  c4c9e77d69a2f972c1e25bf78c2d4beac33750ef
Due: none

feat: rename azdo_pat to pr_review_token
  .pre-commit-config.yaml
  README.md
  examples/pr-review-dedicated-account.yaml
  src/azure-pipeline.ts
  src/azure-pr-comment.ts
  task.json
  test/azure-pr-comment.test.ts
Due: prettier, typecheck

feat: rename azdo_pat to pr_review_token (#29)
  .pre-commit-config.yaml
  README.md
  examples/pr-review-dedicated-account.yaml
  src/azure-pipeline.ts
  src/azure-pr-comment.ts
  task.json
  test/azure-pr-comment.test.ts
Due: prettier, typecheck

fix: release 3.7.0 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Notes added by 'git notes add'
  2b90f06b20510b615a0ea38d0f1319954752d653
Due: none

feat: add context_dir task input
  src/azure-pipeline.ts
  src/context-dir.ts
  task.json
  test/context-dir.test.ts
  tsconfig.build.json
Due: prettier, typecheck

fix: document accepted upstream audit CVEs
  CLAUDE.md
Due: prettier

feat: add context_dir task input (#30)
  CLAUDE.md
  src/azure-pipeline.ts
  src/context-dir.ts
  task.json
  test/context-dir.test.ts
  tsconfig.build.json
Due: prettier, typecheck

fix: release 3.8.0 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Notes added by 'git notes add'
  71d7fcbc0706e886efd0a19cfb07145021946851
Due: none

fix: document context_dir in README and CLAUDE.md
  CLAUDE.md
  README.md
Due: prettier

fix: document context_dir in README and CLAUDE.md (#31)
  CLAUDE.md
  README.md
Due: prettier

fix: release 3.8.1 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Notes added by 'git notes add'
  42b6cce066bae5edc1fc09d38fa5a14c5eb43d6e
Due: none

feat: inject PR diff into prompt
  CLAUDE.md
  README.md
  src/azure-pipeline.ts
  src/pr-state.ts
  src/reviewer-types.ts
  test/pr-state.test.ts
Due: prettier, typecheck

feat: inject PR diff into prompt (#32)
  CLAUDE.md
  README.md
  src/azure-pipeline.ts
  src/pr-state.ts
  src/reviewer-types.ts
  test/pr-state.test.ts
Due: prettier, typecheck

fix: release 3.9.0 [skip ci]
  CHANGELOG.md
  package.json
  task.json
  vss-extension.json
Due: prettier

Notes added by 'git notes add'
  0ee1b2b5ab6f46af0002fc708265ce679b472350
Due: none

feat: document reviewer checklists and review pipeline
  README.md
  examples/pr-review-anthropic.yaml
  examples/pr-review-bedrock-irsa.yaml
  examples/pr-review-bedrock.yaml
  examples/pr-review-dedicated-account.yaml
Due: prettier

feat: usage extraction and output variables
  CLAUDE.md
  README.md
  src/azure-pipeline.ts
  src/execution-file.ts
  src/pr-comment-core.ts
  src/usage-core.ts
  task.json
  test/usage-core.test.ts
Due: prettier, typecheck

feat: usage extraction and output variables (#33)
  CLAUDE.md
  README.md
  examples/pr-review-anthropic.yaml
  examples/pr-review-bedrock-irsa.yaml
  examples/pr-review-bedrock.yaml
  examples/pr-review-dedicated-account.yaml
  src/azure-pipeline.ts
  src/execution-file.ts
  src/pr-comment-core.ts
  src/usage-core.ts
  task.json
  test/usage-core.test.ts
Due: prettier, typecheck
